.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.breadcrumbContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Common Styles */
.breadcrumbSection {
  width: 45%;
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  display: flex;
  justify-content: center; /* Center align the breadcrumb */
}

.simpleBreadcrumb, .iconBreadcrumb, .dropdownBreadcrumb, .statusIndicatorBreadcrumb {
  display: flex;
  align-items: center;
  gap: 10px;
}

.breadcrumbSection a {
  text-decoration: none;
  color: #007bff;
  font-size: 18px; /* Increase font size */
  display: flex;
  align-items: center;
  position: relative;
  top: -1px; /* Adjust alignment */
}

.breadcrumbSection a:hover {
  text-decoration: underline;
}

.breadcrumbSeparator {
  margin: 0 5px;
  color: #6c757d;
  font-size: 18px; /* Increase font size */
  display: flex;
  align-items: center;
  position: relative;
  top: -1px; /* Adjust alignment */
}

.breadcrumbIcon {
  margin-right: 5px;
}

.dropdownItem {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px;
  margin: 0;
  width: 150px;
  z-index: 1;
}

.dropdownMenu li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdownMenu li:hover {
  background-color: #f0f0f0;
}

.statusIndicatorBreadcrumb {
  display: flex;
  align-items: center;
  gap: 10px;
}

.statusItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  background-color: #007bff; /* Uniform color for all steps */
  color: white;
}

.statusLabel {
  font-size: 18px;
}

/* Code Box */
.codeBox {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #2d2d2d;
  color: #fff;
  max-height: 300px;
  overflow-y: scroll;
  position: relative;
}

.toggleButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.toggleButton {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #444;
  color: #fff;
  border-radius: 3px;
}

.toggleButton.active {
  background-color: #3b82f6;
  border-color: #3b82f6;
}

.copyButton {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #444;
  color: #fff;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 10px;
}
